test-case/src/main/resources/ColoniaAttractionsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ColoniaAttractionsService" targetNamespace="urn:edu.fing.context.management:test-case:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:edu.fing.context.management:test-case:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:edu.fing.context.management:test-case:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:edu.fing.context.management:test-case:1.0">
  <xs:complexType name="attractionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="attraction" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="outside" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAttractions" type="getAttractions"/>
  <xs:complexType name="getAttractions">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="getAttractionsResponse" type="getAttractionsResponse"/>
  <xs:complexType name="getAttractionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="list" type="attractionDTO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAttractionsResponse">
    <wsdl:part name="parameters" element="tns:getAttractionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttractions">
    <wsdl:part name="parameters" element="tns:getAttractions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ColoniaAttractionsServicePortType">
    <wsdl:operation name="getAttractions">
      <wsdl:input name="getAttractions" message="tns:getAttractions">
    </wsdl:input>
      <wsdl:output name="getAttractionsResponse" message="tns:getAttractionsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ColoniaAttractionsServiceSoapBinding" type="tns:ColoniaAttractionsServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAttractions">
      <soap:operation soapAction="getAttractions" style="document"/>
      <wsdl:input name="getAttractions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAttractionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ColoniaAttractionsService">
    <wsdl:port name="ColoniaAttractionsServicePort" binding="tns:ColoniaAttractionsServiceSoapBinding">
      <soap:address location="http://localhost:8080/test-case/ColoniaAttractionsService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
